.ico-add {
    background-image: url(ico-add.gif) !important;
}

.ico-edit {
    background-image: url(ico-edit.png) !important;
}

.ico-delete {
    background-image: url(ico-delete.gif) !important;
}